
@font-face {
    font-family: 'Rodchenko Grotesk ML';
    src: url('RodchenkoGroteskML.woff2') format('woff2'),
        url('RodchenkoGroteskML.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('roboto.woff2') format('woff2');
}


/* Defaults */
html, body, #quizzie {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

}

* {
  box-sizing: border-box;
}

body {
  background-image: url('../img/q_bg.png');

  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c2a671;
  color: #fff;
}

h2 {
  font-family: 'Rodchenko Grotesk ML';
  font-size: 4vw;
  font-weight: 700;
  line-height: 4vw;
  letter-spacing: 0px;
}

h1 {
  font-family: 'Rodchenko Grotesk ML';
  letter-spacing: 2px;
  font-size: 2vw;
  font-weight:300;
  margin: 0 0 0 3px !important;
}

h1, h2 {
  display: block;
  width: auto;
  margin: 0%;
}

p {
  display: block;
  width: auto;
  margin: 2% 4% 2% 4%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2vw;
}

.line {
  width: 100%;
  height: 6px;
  background-color: #fff;
  margin-bottom: 6px;
}

#banner {
  margin: auto;
  width: 38%;
}

.beer {
  width: 100%;
  height: auto;
}

#beer01 {
 width: 25%;
 height: auto;
 margin: 5% 0 0 0;
 float: left;
}

#beer02 {
  right: 0px;
  width: 25%;
  height: auto;
  margin: 15% 0 0 0;
  float: right;
}

#quizzie {
  padding: 5% 0;
  /* Individual Steps/Sections */
  /* Content */
}
#quizzie ul {
  list-style: none;
  display: block;
  width: auto;
  margin: 2% 2%;
  padding: 10% 20% 2% 20%;
  overflow: auto;
  display: none;
  /* Step Questions and Answer Options */
}
#quizzie ul.current {
  display: block;
}
#quizzie ul li {
  display: inline-block;
  width: 100%;
  margin: auto;
}
#quizzie ul li.quiz-answer {
  cursor: pointer;
}
#quizzie ul li.question, #quizzie ul li.results-inner {
  display: block;
  float: none;
  width: 100%;
  margin: 0;
}
#quizzie ul li.results-inner {
  padding: 0%;
}
#quizzie ul li.results-inner img {

}
#quizzie ul li:last-child {
  margin-right: 0;
}
#quizzie .question-wrap, #quizzie .answer-wrap {
  display: block;
  padding: 1%;
  margin: 1%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#quizzie .answer-wrap {
  background: #4b2619;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
#quizzie .answer-wrap:hover, .answer-wrap:active {
  background: #fff;
  color: #4b2619;
}

.q01_a {
  position: fixed;
  bottom: 30px;
  right: -75px;
  z-index: -1;
}

.q01_b {
  position: fixed;
  top: 60px;
  left: 20px;
  z-index: -1;
}

.q02_a {
  position: fixed;
  top: 35px;
  right: -105px;
}

.q03_a {
  position: fixed;
  bottom: 50px;
  right: -95px;
  z-index: -1;
}

.q03_b {
  position: fixed;
  top: 0px;
  left: 35px;
  z-index: -1;
}

.q04_a {
  position: fixed;
  top: 0px;
  right: -55px;
}

.q05_a {
  position: fixed;
  top: 0px;
  right: -115px;
  z-index: -1;
}

.float {
  width: 65%;
  height: auto;

}

.final {
  width: 100%;
  height: auto;
}
